@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Circular STD";
    src: url("../public/font/CircularStd-Bold.ttf") format(".ttf");
  }

  html {
    font-family: inter;
  }
}
